.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-prev,
.slick-next {
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .slick-prev {
    left: 5px; /* Adjust as needed for mobile */
  }

  .slick-next {
    right: 5px; /* Adjust as needed for mobile */
  }
}
